{% extends "base.html" %}
{% block content %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center legal-notice-wrapper">
            <div class="container">
                <h1 class="text-white-75 mb-4">Mentions légales</h1>
            </div>
            <div class="container">
                <h5 class="text-white-75 mb-4">Identité</h5>
            </div>
            <div class="container">
                <p class="text-white-75 mb-4"><strong>Nom du site web</strong> : Purbeurre<br><strong>Adresse </strong>:
                    http://purbeurre.domaine<br><strong>Propriétaire </strong>: Purbeurre<br><strong>Responsable
                        de publication :</strong> Colette & Remy Tatou</p>
            </div>
            <div class="container">
                <p class="text-white-75 mb-4"><strong>Conception et réalisation :</strong> RONDET Romain<br><strong>Hébergement :</strong><br>Heroku
            </div>
            <div class="container">
                <h5 class="text-white-75 mb-4">Personne morale</h5>
                <p class="text-white-75 mb-4">Purbeurre – société au capital de 1 euros – RCS 123456 – Place Montmartre, Paris<br>+33601010101 –
                    purbeurre@purbeurre.com</p>
            </div>
            <div class="container">
                <p class="text-white-75 mb-4"><strong>Template utilisé :</strong><br><a href="https://startbootstrap.com/themes/creative/" title="template"
                        target="blank">Startbootstrap-creative</a></p>
            </div>
            <div class="container">
                <p class="text-white-75 mb-4"><strong>Charte graphique employée :</strong><br>
                    Choix des polices, photos, icones, couleurs : <a href="
                        https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide" title="Charte Graphique"
                        target="blank">Purbeurre style guide</a></br>
                    Icônes des menus : <a href="https://fontawesome.com/" title="Icônes" target="blank">fontawesome.com</a></p>
        </div>
    </div>
</header>
{% endblock %}