[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
selenium = "*"
webdriver-manager = "*"
pylint-django = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "*"
python-dotenv = "*"
black = "==21.7b0"
flake8 = "*"
pydocstyle = "*"

[dev-packages]

[requires]
python_version = "3.9"
