{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<header class="masthead vh100-header">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <form id="sign-in-form" class="sign-form" method="POST" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{request.GET.next}}"/>
                {% endif %}
                <button type="submit" class="btn btn-primary">Se connecter</button>
                <a href="{% url "signup" %}"><p>Pas de compte ? créez en un !</p></a>
                <a href="{% url 'password_reset' %}"><p>Mot de passe oublié ?</p></a>
            </form>
        </div>
    </div>
</header>
{% endblock %}
